primefaces-e-jsf/.classpath
primefaces-e-jsf/.metadata
primefaces-e-jsf/.project
primefaces-e-jsf/.settings
primefaces-e-jsf/WebContent
primefaces-e-jsf/__MACOSX
primefaces-e-jsf/build

**/node_modules
