body, html, #root{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.container-fluid{
  padding: 0;
}

#board{
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
}

.square{
  width: 150px;
  height: 150px;
  border: 5px solid black;
  font-size: 70px;
}

.options{
  padding: 15%;
}

h2, h1{
  color: #FFF;
}